
footer{
    color:rgb(204, 202, 199);
    background-color: #5b0f5b;
    border-top: 2px solid #6b6b6b;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 20px;
}
#footerCenter{
    display: flex;
    justify-content: center;
}
#footerLeft{
    display: flex;
    justify-content: left;
   

}
#footerRight{
    display: flex;
    justify-content: right;
    margin-right: 100px;
    margin-bottom: 10px;
}



.navbar{
    color:rgb(204, 202, 199);
    background-color:#5b0f5b;
    
}




.mainPage{
    background-color: black;
}

#welcome{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: rgb(204, 202, 199);
    border-radius: 20px;
    border: solid #5b0f5b;
    border-width: 20px;
    border-style:double;
    border-top: 20px;

}





#mainButtons{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 100px;
}

.hide{
    display: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

#aboutMe{
    color: black;
    background-color:grey;
    border: 3px solid #5b0f5b;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 28px;
    margin-left: 20px;
}

#aboutMe:hover + .hide{
    display: block;
    color: #5b0f5b;
    position: absolute;
    top: 350px;
    left: 30px;

}

#song{
    color: black;
    background-color:grey;
    border: 3px solid #5b0f5b;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 28px;

}

#song:hover +.hide{
    display: block;
    color: #5b0f5b;
    position:absolute;
    top: 350px;
    left: 440px;
}

#gen{
    color: black;
    background-color:grey;
    border: 3px solid #5b0f5b;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 28px;
    margin-right: 20px;

}

#gen:hover +.hide{
    display: block;
    color: #5b0f5b;
    position: absolute;
    top: 350px;
    right: 30px;
}


#bioP{
    display: flexbox;
    margin: auto;
    width: 350px;
    color: rgb(204, 202, 199);
    border: 2px double gray ;
}

#bioLinks{
    display: flex;
    justify-content: center;
    color: rgb(204, 202, 199);

}


#profilePic{
    display:block ;
margin: auto;
width: 350px;
height: auto;
}


.submitPage{
    color: #6b6b6b;
}