.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    color:rgb(204, 202, 199);
    background-color:#5b0f5b;
    
}

.navIcon{
    margin-left: 10px;
}




.navbar-center{
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.headerLinks{
  font-size: 20px;
  margin: 0 10px;
}

.headerLinks a{
    color:rgb(204, 202, 199);
    text-decoration: none;
}

.headerLinks a:hover{
    color: black;
}

@media (max-width: 800px) {
  .navbar-center {
    position: static;
    transform: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

}